 body {
     background: url(coverage/background02.png) top left;
     height: 100vh;
     background-size: auto;
     background-repeat: no-repeat;
     text-align: center;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     min-width: 1000px;
 }

 .container00 {
     display: flex;
 }


 .container01 {
     width: 180px;
 }

 .container_sketchbook {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 600px;
     height: 520px;
     justify-content: flex-end;
 }

 .container_drawing_kit {
     display: flex;
     align-items: flex-end;
     justify-content: space-around;
     margin-left: 30px;
     width: 250px;
     height: 90vh;
 }




 .dots > * {
     background: #414141;
     border-radius: 50%;
     display: flex;
 }

 .dots > *:hover {
     background: #000000;
 }

 #dot0 {
     width: 5px;
     height: 5px;
 }

 #dot1 {
     width: 10px;
     height: 10px;
 }

 #dot2 {
     width: 15px;
     height: 15px;
 }

 #dot3 {
     width: 20px;
     height: 20px;
 }

 #dot4 {
     width: 25px;
     height: 25px;
 }

 #dot5 {
     width: 30px;
     height: 30px;
 }

 #dot6 {
     width: 35px;
     height: 35px;
 }



 .title {
     position: absolute;
     top: -40px;
     height: 100px;
     font-size: 50px;
     font-family: 'Cabin Sketch', cursive;
     width: 400px;
     justify-content: flex-start;
 }

 .rect {
     display: flex;
     font-family: Lato;
     font-size: 10px;
     width: 500px;
     margin-top: 20px;
     justify-content: flex-end;
     margin-right: -30px;
     align-items: flex-end;

 }

 .rect > * {
     width: 90px;
     height: 20px;
     box-shadow: -2px 0px 5px grey;
margin-right: 40px;
 }

 #clean_image {    
     background: #b1ff00;
 }

 #load_image {
     background: yellow;
 }

 #save_image {
     text-decoration: none;
     color: black;
     background: orange;
 }

 .rect > *:hover {
     height: 30px;
     box-shadow: -3px 0px 7px grey;
     cursor: default;
     transition: 0.2s;
 }



 .dots {

     display: flex;
     flex-direction: column;
     height: 200px;
     width: 60px;
     align-items: center;
     justify-content: space-around;
     border: solid #3b3b3b 4px;
     box-shadow: -3px 3px 3px #222;
     margin-bottom: 75px;

 }

 ul {
     list-style: none;
     z-index: 2;
 }



 #erazer {

     height: 150px;
     align-self: flex-end;
     margin-bottom: 75px;
     -webkit-filter: drop-shadow(-3px 3px 3px #222);
     filter: drop-shadow(-3px 3px 3px #222);
 }

 #pen {

     -webkit-filter: drop-shadow(-3px 3px 3px #222);
     filter: drop-shadow(-3px 3px 3px #222);
     height: 400px;
 }


 #erazer:hover,
 #pen:hover {

     transform: scale(1.1);
     transition: 0.2s;
     -webkit-filter: drop-shadow(-7px 7px 7px #222);
     filter: drop-shadow(-7px 7px 7px #222);

 }

 .erazer_active,
 .pen_active {
     transform: scale(1.1);
     transition: 0.2s;
     -webkit-filter: drop-shadow(-7px 7px 7px #222);
     filter: drop-shadow(-7px 7px 7px #222);
 }

 #canvas {
     background-color: #f0efef;
     box-shadow: -4px 4px 4px grey;
     cursor: url(/coverage/cursor-crayon.png), auto;
 }

 #spiral {
     position: absolute;
     top: 75px;
     left: -32px;
     transform: scale(.8);
 }

 .crayons {
     position: fixed;
     bottom: -56px;
     left: 80px;
 }



 .crayon {
     display: inline-block;
     transition: 0.3s;
     -webkit-filter: drop-shadow(-5px 5px 5px #222);
     filter: drop-shadow(-5px 5px 5px #222);
 }

 .crayon:hover {
     transform: translateY(-30px);
     -webkit-filter: drop-shadow(-7px 7px 7px #222);
     filter: drop-shadow(-7px 7px 7px #222);

 }

 .crayon_active {
     transform: translateY(-30px);
     -webkit-filter: drop-shadow(-7px 7px 7px #222);
     filter: drop-shadow(-7px 7px 7px #222);
 }


::selection {
    background-color: transparent;
}

