 body {


     background: url(coverage/background02.png) top left;
     /*    background-attachment: fixed;*/
     /*     height: 20vh;*/
     height: 100vh;
     background-size:auto;
     display: flex;
     flex-basis: 100vw;
     background-repeat: no-repeat;
     text-align: center;
     margin: 0;
     padding: 0;
 }

 .container00 {
     display: flex;
     /*     border: solid 1px;*/


 }


 .container01 {
     width: 150px;
/*     border: solid 1px;*/
 }

 .container02 {
     display: flex;
     flex-direction: column;
     align-items: center;
/*     border: solid 5px;*/
     width: 600px;
     height: 550px;
     justify-content: flex-end;
 }

 .container03 {
     display: flex;
     align-items: center;
     justify-content: space-around;
/*     border: solid red 5px;*/
     margin-left: 30px;
     width: 200px;

 }




 .circle {
     background: #414141;
     border-radius: 50%;
     display: flex;
 }

 .circle:hover,
 .circle_active {
     background: #000000;
 }


 #dot1 {
     width: 10px;
     height: 10px;
 }

 #dot2 {
     width: 15px;
     height: 15px;
 }

 #dot3 {
     width: 20px;
     height: 20px;
 }

 #dot4 {
     width: 25px;
     height: 25px;
 }

 #dot5 {
     width: 30px;
     height: 30px;
 }

 #dot6 {
     width: 35px;
     height: 35px;
 }



 .title {
     height: 100px;
     font-size: 50px;
     font-family: 'Cabin Sketch', cursive;
     width: 400px;
     justify-content:flex-start;
 }

 .rect {
     display: flex;
     font-family: Lato;
     font-size: 10px;
     width: 500px;
     margin-top: 20px;
     justify-content: flex-end;
     margin-right: 100px;
     align-items: flex-end;

 }

 .rect > * {
     width: 60px;
     height: 30px;
     box-shadow: 2px 0px 5px grey;

 }

 #clean_image {
     margin-right: 40px;
     background: #b1ff00;
 }

 #load_image {
     margin-right: 40px;
     background: yellow;
 }

 #save_image {
     text-decoration: none;
     text-decoration-color: black;
     background: orange;
 }

 .rect > *:hover {
     height: 40px;
     box-shadow: 3px 0px 7px grey;
     cursor: pointer;
 }



 .dots {

     display: flex;
     flex-direction: column;
     height: 200px;
     width: 60px;
     align-items: center;
     justify-content: space-between;


 }

 ul {
     list-style: none;
     margin-bottom: -36px;

     z-index: 2;
 }



 #erazer {

     height: 150px;
     align-self: center;

     -webkit-filter: drop-shadow(3px 3px 3px #222);
     filter: drop-shadow(3px 3px 3px #222);
 }

 #pen {

     -webkit-filter: drop-shadow(3px 3px 3px #222);
     filter: drop-shadow(3px 3px 3px #222);
     height: 400px;
 }


 #erazer:hover,
 #pen:hover {

     transform: scale(1.1);
     transition: 0.2s;
     -webkit-filter: drop-shadow(7px 7px 7px #222);
     filter: drop-shadow(7px 7px 7px #222);

 }

 .erazer_active,
 .pen_active {
     transform: scale(1.1);
     transition: 0.2s;
     -webkit-filter: drop-shadow(7px 7px 7px #222);
     filter: drop-shadow(7px 7px 7px #222);
 }



 #bulb {
     height: 200px;
 }



 #trash {
     height: 50px;
 }


 #bulb:hover,
 #trash:hover {
     transform: scale(1.1);
     transition: 0.2s;
     -webkit-filter: drop-shadow(3px 3px 3px #222);
     filter: drop-shadow(3px 3px 3px #222);
 }





 #canvas {
     background-color: #f0efef;
     box-shadow: 4px 4px 4px grey;
     cursor: url(/coverage/cursor-crayon.png), auto;
 }

 #sketchbook {
     transform: scale(.8);
 }

 #lineWidth {

 }

 .crayons {
     position: absolute;
     bottom: 0;
/*     border: solid 3px;*/
     clip: rect(-160px,800px,130px,0px);
 }



 .crayon {
     display: inline-block;
     transition: 0.3s;
     -webkit-filter: drop-shadow(5px 5px 5px #222);
     filter: drop-shadow(5px 5px 5px #222);
 }

 .crayon:hover {
     transform: translateY(-30px);
     -webkit-filter: drop-shadow(7px 7px 7px #222);
     filter: drop-shadow(7px 7px 7px #222);

 }

 .crayon_active {
     transform: translateY(-30px);
     -webkit-filter: drop-shadow(7px 7px 7px #222);
     filter: drop-shadow(7px 7px 7px #222);
 }

/*
 .crayonbox {
     margin-bottom: -280px;
     z-index: 5;
 }
*/




 